<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.jastekdemo.pbr"
        version   = "1.0.0">

    <name>DPT Kampar 2019 / Arie - Pandau Jaya</name>

    <description>
        InAppBrowser example app.
    </description>

    <author href="http://phonegap.com" email="support@phonegap.com">
        PhoneGap Team
    </author>
        
  <platform name="android">
  <preference name="APP_SECRET" value="afeb4520-65ae-4c51-87fb-a88a37c3ca29" />
  </platform>

    <preference name="phonegap-version" value="cli-6.5.0" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.0" />   
    <plugin name="cordova-plugin-inappbrowser" spec="~3.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
        
</widget>
